
    <!-- Contact Form Starts  
    <div class="overlay-black-dark contact-action style2" style="background-image:url(../assets/images/project.jpg); background-repeat: no-repeat;background-attachment: fixed;
    background-size: cover;">
              <div class="container">
                  <div class="row relative">
                      <div class="col-md-12 col-lg-8 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                          <div class="contact-no-area">
                              <h2 class="title text-white pt-5">Free consultation on expert IT infrastructure services & our AMC services.</h2>
                              <form class="dzSubscribe subscribe-box row align-items-center sp15">
                                  <div class="row m-2">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-group">
                                                <input name="name" id="name" #name required="required" type="text" class="form-control" placeholder="Your Name ">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-group">
                                                <input name="mobile_number" #mobile_number id="mobile_number" required="required" type="text"  minlength="10" maxlength="10" class="form-control" placeholder="Your Mobile No.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-2">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-group">
                                                <input name="email" id="email" #email required="required" type="email" class="form-control" placeholder="Your Email Address ">
                                            </div>
                                        
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-group">
                                                <input name="subject" #subject id="subject" required="required" type="text" class="form-control" placeholder="Your Query ">
                                            </div>
                                    </div>
                                        
                                </div>
                                
                                  <div class="col-lg-12 col-md-12">
                                      <div class="input-group">
                                          <button (click)="onSend(name.value,mobile_number.value,email.value,subject.value)" name="submit" value="Submit"  class="site-button btn-block btn-primary btn-lg btnhover13">Send Message</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-4 contact-img-bx wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                          <img src="../assets/images/women.jpg" alt="" id="serv1">	
                      </div>
                  </div>
              </div>
          </div>
          -- Contact Form END -->