  
<!--------Mission Cards Starts-->
<div class="container-fluid">
    <div class="container-fluid">
      <img src="../../../assets/images/back.png" alt="Background Image" class="back">
      <h1 class="centered">Our Mission</h1>
      <!---<h2 class="cenetred"><u>Ou</u>r Service</h2>-->
    </div>
    
    <div class="container">
  <div class="card-deck mt-5">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <p class="card-text text-dark">Deliver innovative 
              technology & 
              services that make 
              businesses better</p>
        </div>
      </div>
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <p class="card-text text-dark">Consult 
              professional IT 
              services</p>
        </div>
      </div>
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <p class="card-text text-dark">Lead businesses 
              & services to 
              transform IT</p>
        </div>
      </div>
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <p class="card-text text-dark">Customer 
              experience 
              innovation through 
              our deep knowledge
              </p>
        </div>
      </div>
    </div>
    <div class="text-center content">
      Continually evolves to meet and exceed market demands; With a smile. We understand our customers and 
      build long term relationships based on trust, integrity and the relentless pursuit of excellence
    </div>
    </div>
  </div>
    <!---------Mission Cards Ends-->