 
<!---------Vision Starts-------->
<div class="container-fluid">
   
      <div class="row pt-5 pb-5"><div class="col-sm-4 col-lg-1 justify-content-center"></div>
      <div class="col-sm-4 col-lg-5 justify-content-center">
          <img src="../../../assets/images/vision.jpg" alt="img" id="img1" class="shadow-lg">
      </div>
      
        <div class="col-sm-4 col-lg-6 justify-content-center">
          <h2><u>Ou</u>r Vision</h2>
          <ol class="list-numbered">
            <li>&nbsp;To focus on providing solutions that enable our
              customers to reduce time and complexity in
              managing the work.
            </li>
            <li>&nbsp;To deliver the best and most cost-effective solutions
              to our clients.
            </li>
            <li>&nbsp;Passion for quality, dedication to innovation,
              commitment to customer.
            </li>
            <li>&nbsp;To create services and solution that transform ideas
              into reality.
            </li>
            <li>&nbsp;Industry leadership through customer enthusiasm.
            </li>
          </ol>
         
        </div>
      </div>
    </div>
    <!--------Vison Ends------->
    
    