@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  
.back{
  width: 100%;
  opacity: 0.6;
  height: 200px!important;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(44, 21, 58);
  text-decoration: underline;
}
  h2{
      font-family:sans-serif;
      text-align: center;
      color: black !important;
      font-weight: bold;
      padding: 20px;
  }
  ul{
    color: rgb(102, 98, 98) !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 16px;
    align-items: center;
  }
  li{
      list-style: none;
      padding-top: 10px;
      
  }
  img{
    width:550px;
    height: 450px;
  }
  @media(max-width:600px){
    img{
        width:400px;
        height: 400px;
    }
  }
  @media(max-width:300px){
    img{
        width:170px;
        height: 200px;
    }
    ul{
        font-size: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }
    h2{
        font-size: 20px;
    }
    .col-sm-4 {
      margin:0px;
    }
  }