<div>
  
<app-nav></app-nav>



<!--    Mail---
<form>
    <div class="container p-4">
    <div class="row gy-4">

      <div class="col-md-6">
        <input type="text" name="name" class="form-control" placeholder="Your Name" required>
      </div>

      <div class="col-md-6 ">
        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
      </div>

      <div class="col-md-12">
        <input type="text" class="form-control" name="subject" placeholder="Subject" required>
      </div>

      <div class="col-md-12">
        <input type="text" class="form-control" name="mobile_number" placeholder="Mobile Number" minlength="10" maxlength="10" required>
      </div>

      <div class="col-md-12">
        <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
      </div>

      <div class="col-md-12 text-center">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>

        <a [routerLink]="['forms/mailQuery.php']"><button>Send Message</button></a>
      </div>
    </div>
    </div>
  </form>-----End mail---->
 <router-outlet>
 </router-outlet>
  
 <!-- Contact Form Starts  -->
 <div class="overlay-black-dark contact-action style2" style="background-image:url(../assets/images/project.jpg); background-repeat: no-repeat;background-attachment: fixed;
 background-size: cover;">
           <div class="container">
               <div class="row relative">
                   <div class="col-md-12 col-lg-8 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                       <div class="contact-no-area">
                           <!-- <h2 class="title text-white pt-5 text-center">Contact Us</h2> -->
                           <h2 class="title text-white pb-3 text-center">How Can We Help You?</h2>
                          
                           <form class="dzSubscribe subscribe-box row align-items-center sp15">
                               <div class="row m-1">
                                     <div class="col-lg-6 col-md-6">
                                         <div class="input-group">
                                             <b class="text-danger">*</b>&nbsp;
                                             <input name="name" id="name" #name required="required" type="text" class="form-control" placeholder="Your Name ">
                                         </div>
                                     </div>
                                     <div class="col-lg-6 col-md-6">
                                         <div class="input-group">
                                          <b class="text-danger">*</b>&nbsp;
                                          <input name="mobile_number" #mobile_number id="mobile_number" required="required" type="text"  minlength="10" maxlength="10" class="form-control" placeholder="Your Mobile No.">
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row m-1">
                                     <div class="col-lg-6 col-md-6">
                                         <div class="input-group">
                                          <b class="text-danger">*</b>&nbsp;
                                          <input name="email" id="email" #email required="required" type="email" class="form-control" placeholder="Your Email Address ">
                                         </div>
                                     
                                     </div>
                                     <div class="col-lg-6 col-md-6">
                                         <div class="input-group">
                                          <b class="text-danger">*</b>&nbsp;
                                          <input name="subject" #subject id="subject" required="required" type="text" class="form-control" placeholder="Your Query ">
                                         </div>
                                 </div>
                                     
                             </div>
                             
                               <div class="col-lg-12 col-md-12">
                                   <div class="input-group mt-3">
                                       <button (click)="onSend(name.value,mobile_number.value,email.value,subject.value)" onClick="alert( 'Message Send Successfully!' )" name="submit" value="Submit" id="sub" class="site-button btn-block btn-primary btn-lg btnhover13 ml-4 mr-2">Send Message</button>
                                   {{response}}
                                      </div>
                               </div>
                           </form>
                       </div>
                       <br>
                   </div>
                   <div class="col-md-12 col-lg-4 contact-img-bx" data-wow-duration="2s" data-wow-delay="0.2s">
                       <img src="../assets/images/women.jpg" alt="" id="serv1">	
                   </div>
               </div>
           </div>
       </div>
       <!-- Contact Form END -->
 <app-footer></app-footer>
</div>
