@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  
.back{
  width: 100%;
  opacity: 0.6;
  height: 200px!important;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(44, 21, 58);
  text-decoration: underline;
  
  text-decoration: underline;
}
  h2{
      font-size: 50px;
      font-family:sans-serif;
      text-align: center;
      color: rgb(31, 88, 31)!important;
      font-weight: bold;
      padding: 20px;
  }
  ul{
    color: rgb(16, 129, 16) !important;
    font-family: sans-serif;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 16px;
    align-items: center;
  }
  li{
      list-style: none;
      padding-top: 10px;
      
  }
  img{
    width:600px;
    height: 450px;
    border-radius: 20px;
  }
  @media(max-width:600px){
    img{
        width:400px;
        height: 400px;
        border-radius: 20px;
    }
  }
  @media(max-width:300px){
    img{
        width:170px;
        height: 200px;
        border-radius: 20px;
    }
    ul{
        font-size: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }
    h2{
        font-size: 20px;
    }
    .col-sm-4 {
      margin:0px;
    }
  }
  .btn{
    background-color: rgb(38, 163, 55);
  }
.about-start,
.about-end {
    background-size: contain;
    background-color: #c6d0f0;
}

@media (min-width: 992px) {
    .about-start {
        position: relative;
        margin-right: -90px;
        z-index: 1;
    }

    .about-end {
        position: relative;
        margin-left: -90px;
        z-index: 1;
    }
}
