  
<div class="container-fluid">
    <div class="container-fluid">
      <img src="../../../assets/images/back.png" alt="Background Image" class="back">
      <h1 class="centered">Why Us</h1>
      <!---<h2 class="cenetred"><u>Ou</u>r Service</h2>-->
    </div>
    </div>
  <!-- About Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row gx-0 mb-3 mb-lg-0">
            <div class="col-lg-6 my-lg-5 py-lg-5">
                <div class="about-start p-4 bg_col">
                    <h1 class="display-10 mb-4">Welcome To AK Techo Solution</h1>
                    <p>AK Techno Solution's service 
                      portfolio is to provide IT 
                      services and corporate 
                      computer AMC service. </p>
                    <!--<a href="" class="btn btn-secondary rounded-pill py-md-3 px-md-5 mt-4">Contact Us</a>
                --->
                    </div>
            </div>
            <div class="col-lg-6" style="min-height: 100px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 shadow-lg img-responsive imgs" src='../../../assets/images/Why_desktop.jpg' style="object-fit: cover;">
                </div>
            </div>
        </div>
        <hr>
        <div class="row gx-0">
            <div class="col-lg-6" style="min-height: 100px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 shadow-lg img-responsive imgs" src='../../../assets/images/Why_security.jpg' style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 my-lg-5 py-lg-5">
                <div class="about-end bg_col p-4">
                    <h1 class="display-10 mb-4">Why Choose Us?</h1>
                    <p>The company has gained 
                      specialization in providing 
                      high quality and customized 
                      solutions to various 
                      esteemed organizations and 
                      reputed public and private 
                      sector companies in a time 
                      bound manner. </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row gx-0 mb-3 mb-lg-0">
          <div class="col-lg-6 my-lg-5 py-lg-5">
              <div class="about-start bg_col p-4">
                  <h1 class="display-10 mb-4">Why?</h1>
                  <p>On-time delivery of defect-free systems and services to 
                    our customers. </p>
              </div>
          </div>
          <div class="col-lg-6" style="min-height: 100px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100 shadow-lg img-responsive imgs" src='../../../assets/images/Why_service.jpg' style="object-fit: cover;">
              </div>
          </div>
      </div>
      <hr>
      <div class="row gx-0">
          <div class="col-lg-6" style="min-height: 100px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100 shadow-lg img-responsive imgs" src='../../../assets/images/Why_winner.jpg' style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-6 my-lg-5 py-lg-5">
              <div class="about-end bg_col p-4">
                  <h1 class="display-10 mb-4">Why Us?</h1>
                  <p>Deliver effective and perfect 
                    services and solution that 
                    help our customers become 
                    more competitive in their 
                    market.</p>
              </div>
          </div>
      </div>
      <hr>
      <div class="row gx-0 mb-3 mb-lg-0">
        <div class="col-lg-6 my-lg-5 py-lg-5">
            <div class="about-start bg_col p-4">
                <h1 class="display-10 mb-4">Why?</h1>
                <p>We empower our employees 
                  to honor this commitment to 
                  meet the requirement of our 
                  clients.
                  </p>
            </div>
        </div>
        <div class="col-lg-6" style="min-height: 100px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100 shadow-lg img-responsive imgs" src='../../../assets/images/Why_goal.jpg' style="object-fit: cover;">
            </div>
        </div>
    </div>

    
    </div>
</div>
<!-- About End -->





  
  