.card{
    height: 150px;
    border-right: 3px solid rgb(255, 123, 0);
    border-left: 3px solid blue;
    border-radius: 15px;
    padding: 20px;
}
.text-col{
color: hsl(24, 96%, 45%);
}
@media (max-width:600px) {
    .card{
        padding: 0px;
        height: 165px;
    }
}