<div class="container">
    <!---cards Starts-->
    <h2 class="text-dark text-center justify-content-center mt-4">OUR EXPERT SERVICES</h2>
   <p class="text-center justify-content-center"> AK Techno Solution offers a comprehensive set of services to meet your company's every
   information-related need.<br> AK Techno Solution offers the expertise to move both business and technology strategies ahead,<br> 
    regardless of your platform or how complicated your technology demands are.</p>
   <div class="row mt-5 m-2">
       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow-lg custom_radius">
            <img class="card-img-top" src="../assets/images/amc.jpg" alt="Card image cap">
            <div class="card-block">
                <h5 class="card-title mt-3 p-2">SERVER MANAGEMENT & ADMINISTRATION</h5>
                <p class="card-text text-secondary p-2"  style="height: 150px;text-align: center;">We provide service for your servers to Administration, Maintenance, Configuration, Backup, trouble-shooting and server management. We are having experties on both Windows and Linux environment.</p> 
              <div class="card-footer">
              <a href="#" class="btn btn-primary btn-block">SERVER MANAGEMENT</a>
              </div> 
            </div>
          </div>  
       </div>
 

       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow-lg custom_radius">
            <img class="card-img-top" src="../assets/images/network.jpg" alt="Card image cap">
            <div class="card-block">
                    <h5 class="card-title mt-3 p-2">CLOUD SOLUTION</h5>
                    <p class="card-text text-secondary p-2" style="height: 175px;text-align: center;">We provide solutions and help you to setup and manage your Cloud Services and O365 tenant account. Cloud Services includes AWS Cloud, Microsoft Azure, Google Cloud, Oracle Cloud, DigitalOcean,etc.</p>
                      <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">CLOUD SOLUTION</a> 
                    </div>
            </div>
          </div>  
       </div>

       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow-lg custom_radius">
            <img class="card-img-top" src="../assets/images/server.jpg" alt="Card image cap">
            <div class="card-block">
                    <h5 class="card-title mt-2 p-3 pb-0">VIRTUAL SERVERS
                      </h5>
                    <p class="card-text text-secondary p-2" style="height: 182px;text-align: center;">We provide services for virtual server setup, installation, configuration, and maintenance. We have experienced engineers in virtualization technology and help you to manage and maintain your virtual servers environment for VMware Esxi Server, Citrix Xen Server, Windows Hyper-V and Linux virtual server.</p>
                        <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">VIRTUAL SERVERS</a> 
                        </div>
            </div>
          </div>  
       </div>
 
    </div>
 
 
<div class="row m-2 mt-5 mb-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow-lg custom_radius">
            <img class="card-img-top" src="../assets/images/virtual_server.jpg" alt="Card image cap">
            <div class="card-block">
                    <h5 class="card-title mt-2 p-3">HOSTING SERVICES</h5>
                    <p class="card-text text-secondary p-2" style="height: 214px;text-align: center;">We provide Email hosting and Web hosting solutions and help you to manage your hosting service account we provide shared, VPS and Dedicated servers on the cloud as well. For Email and Web server solutions, we can also set up and configure an on-premise server on Windows and Linux platforms.</p>
                        <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">HOSTING SERVICES</a> 
                    </div>
            </div>
          </div>  
       </div>
     
       
       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow-lg custom_radius">
            <img class="card-img-top" src="../assets/images/cloud.jpg" alt="Card image cap">
            <div class="card-block">
                    <h5 class="card-title mt-2 p-3">COMPUTER SERVICES AND AMC</h5>
                    <p class="card-text text-secondary p-2" style="height: 214px;text-align: center;">We provide computer services like Desktop / Laptop maintenance, installation, configuration, repairing, assemble-disassemble, adding peripheral, printer servicing, testing, and troubleshooting. We are providing Computer AMC service as well as doorstep service at reasonable and affordable cost.</p>
                        <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">COMPUTER SERVICES AND AMC</a> 
                    </div>
            </div>
          </div>  
       </div>
     
 
       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow-lg custom_radius">
            <img class="card-img-top" src="../assets/images/hosting.jpg" alt="Card image cap">
            <div class="card-block">
                    <h5 class="card-title mt-2 p-3">NETWORKING SERVICE</h5>
                    <p class="card-text text-secondary p-2" style="height: 214px;text-align: center;">We provide networking services for LAN, Wi-Fi infrastructure, Switches, Router, Cabling, Security Devices, Firewall configuration, Office to office tunneling setup and connectivity, Network load Balancer, Network, VPN Devices, troubleshooting.</p>
                        <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">NETWORKING SERVICE</a> 
                    </div>
            </div>
          </div>  
       </div>    
    
    </div>       
    </div>
    <!----Cards Ends-->
