@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  
.back{
  width: 100%;
  opacity: 0.4;
  height: 200px!important;
}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(44, 21, 58);
  text-decoration: underline;
}@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}


h2{
    font-family:sans-serif;
    text-align: center;
    color: rgb(255, 123, 0);
    font-weight: bold;
    padding: 20px;
}
ul{
  color: rgb(102, 98, 98) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 30px;
  padding-top: 10px;
  font-size: 16px;
  align-items: center;
}
li{
    list-style: none;
    padding-top: 10px;
    
}
img{
  width:550px;
  height: 450px;
  border-radius: 15px;
}
@media(max-width:600px){
  img{
      width:400px;
      height: 400px;
      border-radius: 15px;
  }
}
@media(max-width:300px){
  img{
      width:170px;
      height: 200px;
      border-radius: 15px;
  }
  ul{
      font-size: 10px;
      margin-left: 0px;
      padding-left: 0px;
  }
  h2{
      font-size: 20px;
  }
  .col-sm-4 {
    margin:0px;
  }
}

@media (max-width:660px) {
  #serv1{
     width: 300px;
     height: 300px;
      }
  }




.list-numbered {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
}

.list-numbered > li {
  position: relative;
  margin-bottom: 1.5em;
}

.list-numbered > li:before {
  position: absolute;
  left: -2.25em;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
  background-color: rgb(255, 123, 0);
  border-radius: 50%;
  color: #fff;
  text-align:center;
  line-height: 1.25em;
  counter-increment: line;
  content: counter(line);
}