<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
-->

<div class="container-fluid">
  <div class="container-fluid">
    <img src="../../../assets/images/back.png" alt="Background Image" class="back">
    <h1 class="centered">About Us</h1>
    <!---<h2 class="cenetred"><u>Ou</u>r Service</h2>-->
  </div>
  <div class="row pt-5 pb-5">
    <div class="col-sm-4 col-lg-6 justify-content-center">
        <h2><u>Ab</u>out Us</h2>
          <ul>
            <li><i class="fa fa-check"></i>&nbsp;AK Techno Solution is an IT service based company,
                which provides IT solution and computer AMC service
                for their clients and door step service.
            </li>
            <li><i class="fa fa-check"></i>&nbsp;AK Techno Solution helps you to resolve your IT issue
                in a minimum time and nominal cost. Our consultation
                will help you grow in your business.
            </li>
            <li><i class="fa fa-check"></i>&nbsp;AK Techno Solution started in 2017, Today having
                complete set of IT services and computer AMC service
                plan. We have team of experienced and certified
                engineers in technology. We provide computer AMC
                service and support for home pc to small and medium
                size business.
            </li>
            <li><i class="fa fa-check"></i>&nbsp;We provide services like Desktop/ Laptop servicing and
                repairing, windows / Linux platform support, Email and
                Web solution, Virtualization solution and support, Cloud
                based solution like AWS and Azure and computer AMC
                services for all type systems and servers.
            </li>
          </ul>
         
    </div>
    <div class="col-sm-4 col-lg-6 justify-content-center">
            <img src="../../../assets/images/about_us.jpg" alt="img">
    </div>
  </div>
    
</div>
    